<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <link th:href="@{~/css/common/ricercaplesso.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{~/js/common/ricercaplesso.js}" type="text/javascript"></script>
</head>
<body>
<!-- Modal HTML -->
<div th:fragment="ricercaplesso">
    <form name="rplessoForm" data-parsley-validate>
        <div class="container h-100" style="width :100%">
            <div class="d-flex justify-content-center">
                <div class="card mt-5 col-md-6 animated bounceInDown myForm">
                    <div class="card-header">
                        <h2 style="color: #54272F!important; font-size: large" th:text="${titlepage}">
                        <span class="badge badge-secondary"> <i class="fa fa-plus-circle bigicon"
                                                                aria-hidden="true"></i></span>
                        </h2>
                    </div>
                    <div class="card-body col-md-auto">
                        <div id="dynamic_container">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-keyboard"></i></span>
                                </div>
                                <input type="number"
                                       data-parsley-errors-container="#errorPlesso"
                                       required
                                       data-parsley-type="number"
                                       id="numeroPlesso"
                                       placeholder="Numero Plesso" name="numero" class="form-control"/>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-8">
                                    <div id="errorPlesso" class="errorBlock"></div>
                                </div>
                            </div>
                            <div class="input-group col-xs-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-keyboard"></i></span>
                                </div>
                                <input type="text"
                                       data-parsley-errors-container="#errorDescrizionePlesso"
                                       required
                                       data-parsley-type="alphanum"
                                       id="descrizionePlesso"
                                       data-hidden_field_id="numeroPlesso" data-item_id="id"
                                       placeholder="Descrizione Plesso" name="descrizione" class="form-control"/>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-8">
                                    <div id="errorDescrizionePlesso" class="errorBlock"></div>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-keyboard"></i></span>
                                </div>
                                <input type="text"
                                       data-parsley-errors-container="#errorUbicazionePlesso"
                                       required
                                       data-parsley-type="alphanum"
                                       id="ubicazionePlesso"
                                       placeholder="Ubicazione Plesso" name="ubicazione" class="form-control"/>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-8">
                                    <div id="errorUbicazionePlesso" class="errorBlock"></div>
                                </div>
                            </div>
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text br-15"><i class="fas fa-keyboard"></i></span>
                                </div>
                                <input type="text" placeholder="Utente"
                                       data-parsley-errors-container="#errorUtente"
                                       required
                                       id="Utente"
                                       data-parsley-type="alphanum"
                                       name="utente" class="form-control"/>
                            </div>
                            <div class="form-group row">
                                <span class="col-md-1 col-md-offset-2 text-center"></span>
                                <div class="col-md-8">
                                    <div id="errorUtente" class="errorBlock"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="submitSearch"
                                data-parsley-validate
                                class="btn btn-success btn-sm float-right submit_btn">
                            <i class="fas fa-arrow-alt-circle-right" style="margin-right:5px"></i>Cerca
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
