<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<div th:replace="fragments/head :: header-css-js"/>
<link th:href="@{~/css/common/sezione.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<!-- Modal HTML -->
<div th:fragment="sezione">
    <!-- fourth section - Information -->
    <div id="information" class="pad-section" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card w-50">
                        <div class="card-header h-25">
                            <h5 class="card-title">Numero Sezione</h5>
                        </div>
                        <p id="numerosezione" class="card-text">
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card w-50">
                        <div class="card-header h-25">
                            <h5 class="card-title">Cabina</h5>
                        </div>
                            <p id="cabina" class="card-text">
                            </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card w-50">
                        <div class="card-header h-25" style="font-size: smaller">
                            <h5 class="card-title">municipio</h5>
                        </div>
                        <p id="municipio" class="card-text">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card warning">
                        <div class="card-header h-25">
                            <h5 class="card-title">Iscritti Maschi</h5>
                        </div>
                        <p id="iscrittimaschi" class="card-text">
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card warning">
                        <div class="card-header h-25">
                            <h5 class="card-title">Iscritti Femmine</h5>
                        </div>
                        <p id="iscrittifemmine" class="card-text">
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card warning">
                        <div class="card-header h-25">
                            <h5 class="card-title">Iscritti Totali</h5>
                        </div>
                        <p id="iscrittitotali" class="card-text">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card warning">
                        <div class="card-header h-25">
                            <h5 class="card-title">Tipo sezione</h5>
                        </div>
                        <p id="tiposezione" class="card-text">
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card warning">
                        <div class="card-header h-25">
                            <h5 class="card-title">Elezione</h5>
                        </div>
                        <p id="tipoelezione" class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /fourth section -->
</div>
</body>
</html>
