<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <div th:replace="fragments/head :: header-css-js"/>
</head>
<body>
<!-- Modal HTML -->
<div th:fragment="sezione">
    <div class="container" id="sezionediv" style="display: none">
        <div class="well well-sm quick-contact">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 sezione-title">
                            <img th:src="@{~/css/images/polls/seggio.png}" alt="sezione" />
                            <h1 id="sezione">
                            </h1>
                        </div>
                        <div class="col-md-4 contact-email">
                            <h2 style="font-size:1.5rem" id="cabina">
                            </h2>
                            <h3 style="font-size:1.5rem" id="municipio">
                            </h3>
                            <h4 style="font-size:1.5rem" id="tipoelezione">
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <div class="row contact row-first">
                                <div class="col-md-6">
                                    <a id="iscrittifemmine" href="#" style="font-size:1.0rem"><i
                                            class="fa fa-skype"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <a style="font-size:1.0rem" href="#" id="iscrittimaschi"><i
                                            class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                            <div class="row contact">
                                <div class="col-md-6">
                                    <a href="#" id="iscrittitotali" style="font-size:1.0rem"><i
                                            class="fa fa-linkedin"></i></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" id="tiposezione" style="font-size:0.8rem"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="numerosezione"/>
</div>
</body>
</html>
