<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <div th:replace="fragments/head :: header-css-js"/>
    <link th:href="@{~/css/common/error.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu :: menu"/>
<div class="wrapper">
    <div class="container-fluid" id="top-container-fluid-nav">
        <div class="container">
            <!---- for nav container ----->
        </div>
    </div>
    <div class="container-fluid" id="body-container-fluid">
        <div class="container">
            <!---- for body container ---->
            <div class="jumbotron">
                <h1 class="display-1"><i class="fa  fa-spin fa-cog fa-3x"></i></h1>
                <h1 class="display-3">Attenzione</h1>
                <p class="lower-case">Non sei autorizzato ad accedere alla pagina richiesta</p>
                <h3 class="text-info">Errore di autorizzazione</h3>
                <p class="lower-case">Contattare l'amministratore di sistema qualora si pensi di poter accedere alla risorsa specificata dettagli:</p>
                <p th:text="${errCode}"></p>
            </div>
            <!-------mother container middle class------------------->
        </div>
    </div>
    <div class="container-fluid" id="footer-container-fluid">
        <div class="container">
            <!---- for footer container ---->
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
