<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <div th:replace="fragments/head :: header-css-js"/>
    <link th:href="@{~/css/affluenze/list.css}" type="text/css" rel="stylesheet" />
    <script th:src="@{~/js/affluenze/list.js}" type="text/javascript">
    </script>
</head>
<body>
<div th:replace="fragments/menu :: menu"/>
<main>
<div id="accordian">
    <ul>
        <li>
            <h3><a href="#">
                <i class="fas fa-check-double"></i>Costituzione</a></h3>
            <ul>
                <li><a th:if="${#lists.contains(fasi, 'CO')}" href="/affluenze/inserimento/CO">
                    <i class="fas fa-plus-circle"></i>Inserimento</a>
                </li>
                <li>
                    <a th:if="${#lists.contains(fasi, 'RCO')}" href="/affluenze/annullamento/RCO">
                        <i class="fas fa-minus-circle"></i>Annullamento</a></li>
            </ul>
        </li>
        <li>
            <h3><a href="#"><i class="fab fa-buysellads"></i>Apertura</a></h3>
            <ul>
                <li><a th:if="${#lists.contains(fasi, 'AP')}"  href="/affluenze/inserimento/AP">
                    <i class="fas fa-plus-circle"></i>Inserimento</a></li>
                <li><a th:if="${#lists.contains(fasi, 'RAP')}"  href="/affluenze/annullamento/RAP">
                    <i class="fas fa-minus-circle"></i>Annullamento</a></li>
            </ul>
        </li>
        <li>
            <h3><a href="#"><i class="far fa-thumbs-up"></i>Affluenze</a></h3>
            <ul>
                <li class="active"><a href="#">1 Affluenza</a>
                <ul>
                    <li><a th:if="${#lists.contains(fasi, '1A')}"  href="/affluenze/inserimento/1A">
                        <i class="fas fa-plus-circle"></i>Inserimento</a></li>
                    <li><a th:if="${#lists.contains(fasi, 'R1A')}"  href="/affluenze/modifica/R1A">
                        <i class="fas fa-edit"></i>Rettifica</a></li>
                    <li><a th:if="${#lists.contains(fasi, 'R1A')}"  href="/affluenze/annullamento/R1A">
                        <i class="fas fa-minus-circle"></i>Annullamento</a></li>
                </ul>
                </li>
                <li class="active"><a href="#">2 Affluenza </a>
                <ul>
                    <li><a th:if="${#lists.contains(fasi, '2A')}" href="/affluenze/inserimento/2A">
                        <i class="fas fa-plus-circle"></i>Inserimento</a>
                    </li>
                    <li><a th:if="${#lists.contains(fasi, 'R2A')}" href="/affluenze/modifica/R2A">
                        <i class="fas fa-edit"></i>Rettifica</a>
                    </li>
                    <li><a th:if="${#lists.contains(fasi, 'R2A')}" href="/affluenze/annullamento/R2A">
                        <i class="fas fa-minus-circle"></i>Annullamento</a>
                    </li>
                </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3><a href="#"><i class="fas fa-person-booth"></i>Chiusura</a></h3>
            <ul>
                <li><a th:if="${#lists.contains(fasi, '3C')}" href="/affluenze/inserimento/3C">
                    <i class="fas fa-plus-circle">
                    </i>Inserimento</a></li>
                <li><a th:if="${#lists.contains(fasi, 'R3C')}"  href="/affluenze/modifica/R3C">
                    <i class="fas fa-edit">
                </i>Rettifica</a>
                </li>
                <li><a th:if="${#lists.contains(fasi, 'R3C')}" href="/affluenze/annullamento/R3C">
                    <i class="fas fa-minus-circle"></i>Annullamento</a></li>
            </ul>
        </li>
    </ul>
</div>
</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
