<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<div id="listeModal" class="modal fade" th:fragment="modalContents">
    <input type="number" id="sum" style="display: none" />
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="badge-custom badge-secondary badge-pill text-center" th:text="${coalizione}"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  name="insertListe"
                      th:action="@{/voti/lreg}" action="#"
                      th:object="${ListWrapper}"   id="insertScrutinio" data-parsley-validate  method="post">
                    <input type="number" style="display: none;"  name="sincolid" id="sincolid" />
                    <input type="text" style="display: none;"  name="maxvotisindaco" id="maxvotisindaco" />
                    <div th:each="lista,itemStat:${ListWrapper.liste}" class="form-group row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="number"
                                       th:value="${lista.getNumerosezione()}"
                                       style="display:none;"
                                       data-parsley-required
                                       required
                                       th:field="*{liste[__${itemStat.index}__].numerosezione}"
                                />
                                <input type="text"
                                        style="display:none;"
                                       th:value="${lista.getTipo()}"
                                       th:field="*{liste[__${itemStat.index}__].tipo}"
                                />
                                <input  type="number"
                                        required
                                        data-parsley-required
                                        style="display:none;"
                                        th:field="*{liste[__${itemStat.index}__].idlista}"
                                        th:value="${lista.getIdlista()}"
                                />
                                <input  type="number"
                                        required
                                        data-parsley-required
                                        style="display:none;"
                                        th:field="*{liste[__${itemStat.index}__].idsindaco}"
                                        th:value="${lista.getIdsindaco()}"
                                />
                                <input type="text" style="display:none;"
                                       th:field="*{liste[__${itemStat.index}__].denominazione}"
                                       th:value="${lista.getDenominazione()}" />
                                <label class="col-sm-5  col-form-label"
                                       th:text="${lista.denominazione}"></label>
                                <input
                                        class="form-control votliliste"
                                        th:field="*{liste[__${itemStat.index}__].voti}"
                                        placeholder="Voti lista"
                                        type="number"
                                        min="0"
                                        value="0"
                                        data-parsley-required
                                        data-parsley-type="number"
                                        data-validation="required"
                                />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="buttonSalva" type="button"  onclick="ajaxSalvaListeCoalizione()"
                        class="btn btn-dark btn-sm float-right submit_btn">
                    <i class="fas fa-arrow-alt-circle-right" style="margin-right:5px"></i>Salva</button>
                <button onclick="populateSumContatore()" id="btnCancel"
                        class="btn btn-dark btn-sm float-right submit_btn">
                    <i class="fas fa-arrow-alt-circle-right" style="margin-right:5px"></i>Chiudi</button>
            </div>
        </div>
    </div>
</div>
