<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scrutinio">
    <input id="contatoreListe" value="0" type="number" style="display: none" />
    <div class="card" style="border:none">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                        <fieldset>
                            <div th:if="${not #lists.isEmpty(Sindaci.sindaci)}">
                                <form class="form-horizontal" th:object="${Sindaci}" name="insertScrutinio"
                                      data-parsley-validate action="/voti/lreg" method="post">
                                    <input type="hidden" th:field="${Sindaci.id}" />
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">A</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       data-parsley-required
                                                       min="0"
                                                       th:field="${Sindaci.valideliste}"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Voti Validi Liste">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">B</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${Sindaci.solosindaco}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Solo Sindaco">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">C</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${Sindaci.totalevalide}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Valide Sindaco (B+C)">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">D</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${Sindaci.bianche}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Bianche">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">E</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${Sindaci.nulle}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Nulle">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">F</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${Sindaci.contestate}"
                                                       data-parsley-required
                                                       min="0"
                                                       value="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Contestate">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">G</span>
                                                </div>
                                                <input type="number" class="form-control votitotali"
                                                       th:field="${Sindaci.totale}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Totale voti (C+D+E+F)">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votanti</span>
                                                </div>
                                            <input type="number"
                                                   th:field="${Sindaci.votanti}"
                                                   readonly
                                                   class="form-control" />

                                        </div>
                                        </div>
                                    </div>
                                    <div th:each="sindaco,iterStat:${Sindaci.sindaci}" class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text br-15"><i
                                                            th:onclick="|openListeModal(${sindaco.id})|"
                                                            th:id="'iconcheck' + ${sindaco.getIdsindaco()}"
                                                            class="fas fa-check-circle"></i></span>
                                                </div>
                                                <input type="number"
                                                       style="display:none;"
                                                       data-parsley-required
                                                       required
                                                       th:value="${sindaco.numerosezione}"
                                                       th:field="*{sindaci[__${iterStat.index}__].numerosezione}"
                                                />
                                                <input type="text"
                                                       data-parsley-required
                                                       required
                                                       style="display:none;"
                                                       th:value="${sindaco.getTipo()}"
                                                       th:field="*{sindaci[__${iterStat.index}__].tipo}"
                                                />
                                                <input name="id" type="number"
                                                       th:value="${sindaco.id}"
                                                       style="display:none;"
                                                       data-parsley-required
                                                       required
                                                       th:field="*{sindaci[__${iterStat.index}__].id}"
                                                />
                                                <input name="id" type="text"
                                                       th:value="${sindaco.iscoalizione}"
                                                       style="display:none;"
                                                       th:field="*{sindaci[__${iterStat.index}__].iscoalizione}"
                                                />
                                                <input name="idsindaco" type="number"
                                                       style="display:none;"
                                                       data-parsley-required
                                                       required
                                                       th:value="${sindaco.idsindaco}"
                                                       th:field="*{sindaci[__${iterStat.index}__].idsindaco}"
                                                />
                                                <label class="col-sm-3  col-form-label"
                                                       th:text="${sindaco.nome} + ' ' + ${sindaco.cognome}"></label>
                                                <input class="form-control voti"
                                                       th:field="*{sindaci[__${iterStat.index}__].voti}"
                                                       min="0"
                                                       value="0"
                                                       data-parsley-required
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       th:value="${sindaco.voti}"/>
                                                <input class="form-control votisolosindaco"
                                                       placeholder="Solo Sindaco"
                                                       min="0"
                                                       value="0"
                                                       data-parsley-required
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       th:field="*{sindaci[__${iterStat.index}__].solosindaco}"
                                                       th:value="${sindaco.solosindaco}"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div th:if="${#lists.isEmpty(Sindaci.getSindaci())}">
                                <div id="count" th:text="${Count}" style="display: none"></div>
                                <form class="form-horizontal" name="insertScrutinio"
                                      th:action="@{/coalizioni/lreg}" action="#"
                                      th:object="${ListWrapper}" id="insertScrutinio" data-parsley-validate
                                      method="post">
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">A</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       data-parsley-required
                                                       min="0"
                                                       th:field="${ListWrapper.valideliste}"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Voti Validi Liste">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">B</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${ListWrapper.solosindaco}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Solo Sindaco">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">C</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${ListWrapper.totalevalide}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Valide Sindaco (B+C)">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">D</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${ListWrapper.bianche}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Bianche">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 15px">
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">E</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${ListWrapper.nulle}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Nulle">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">F</span>
                                                </div>
                                                <input type="number" class="form-control"
                                                       th:field="${ListWrapper.contestate}"
                                                       data-parsley-required
                                                       min="0"
                                                       value="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Contestate">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">G</span>
                                                </div>
                                                <input type="number" class="form-control votitotali"
                                                       th:field="${ListWrapper.totale}"
                                                       data-parsley-required
                                                       min="0"
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       placeholder="Totale voti (C+D+E+F)">
                                            </div>
                                        </div>
                                        <div class="col col-xs-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Votanti</span>
                                                </div>
                                                <input type="number"
                                                       th:field="${ListWrapper.votanti}"
                                                       readonly
                                                       class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                    <div th:each="sindaco,itemStat:${ListWrapper.getSindaci()}" class="form-group row">
                                        <div class="col-sm-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text br-15"><i
                                                            th:onclick="|openListeModal(*{sindaci[__${itemStat.index}__].idsindaco})|"
                                                            th:id="'iconcheck' + ${sindaco.getIdsindaco()}"
                                                            class="far fa-circle"></i></span>
                                                </div>
                                                <input type="number"
                                                       th:value="${sindaco.getNumerosezione()}"
                                                       style="display:none;"
                                                       data-parsley-required
                                                       required
                                                       th:field="*{sindaci[__${itemStat.index}__].numerosezione}"
                                                />
                                                <input type="text"
                                                       data-parsley-required
                                                       required
                                                       style="display:none;"
                                                       th:value="${sindaco.getTipo()}"
                                                       th:field="*{sindaci[__${itemStat.index}__].tipo}"
                                                />
                                                <input type="hidden"
                                                       th:value="${sindaco.getIscoalizione()}"
                                                       th:field="*{sindaci[__${itemStat.index}__].iscoalizione}"
                                                />
                                                <input type="number"
                                                       required
                                                       data-parsley-required
                                                       style="display:none;"
                                                       th:field="*{sindaci[__${itemStat.index}__].idsindaco}"
                                                       th:value="${sindaco.getIdsindaco()}"
                                                />
                                                <label class="col-sm-3  col-form-label"
                                                       th:text="${sindaco.nome} + ' ' + ${sindaco.cognome}"></label>
                                                <input
                                                        class="form-control voti"
                                                        th:field="*{sindaci[__${itemStat.index}__].voti}"
                                                        placeholder="Voti Sindaco"
                                                        type="number"
                                                        min="0"
                                                        value="0"
                                                        data-parsley-required
                                                        data-parsley-type="number"
                                                        data-validation="required"
                                                />
                                                <input type="number" class="form-control votisolosindaco"
                                                       placeholder="Solo Sindaco"
                                                       min="0"
                                                       value="0"
                                                       data-parsley-required
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       th:field="*{sindaci[__${itemStat.index}__].solosindaco}"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div id="errorcontrol" class="errorBlock"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <button
                                            id="btnSalvaScrutinio" data-parsley-validate
                                            onclick="SaveAll()"
                                            class="btn btn-dark btn-sm float-right submit_btn">
                                        <i class="fas fa-arrow-alt-circle-right" style="margin-right:5px"></i>Salva
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="listeModalHolder"></div>
</html>
