<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<link th:href="@{~/css/common/footer.css}" type="text/css" rel="stylesheet" />
<div th:fragment="footer">
    <div class="space"></div>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-git"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fas fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p class="h6">&copy Tutti i diritti riservati.<a class="text-white ml-2" href="http://deltasi.it" target="_blank">Delta Serivizi Informativi s.r.l.</a></p>
        </div>
        </hr>
    </div>
        </div>
    </section>
</div>
</html>
