<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<div id="header" th:fragment="menu">
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"  href="http://Deltasi.it">
        <img th:src="@{~/css/images/goverment.png}" style="height: 4em; display: inline-block;vertical-align: middle; max-width: 100%;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                  <div th:text="${session.applicationName}" th:unless="${session == null}">[...]>
                  </div>
                </a>
            </li>
                <li class="nav-item active"  sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">
                    <i class="fa fa-sign-out-alt"></i>
                       <span class="badge badge-capitolium badge-pill" sec:authentication="principal.username"></span>
                    </a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('USER')">
                    <a class="nav-link" th:href="@{/affluenze/list}">
                    <i class="fa fa-bars"></i>
                    Andamento
                    </a>
                </li>
            <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/affluenze/list}">
                    <i class="fa fa-bars"></i>
                    Andamento
                </a>
            </li>
                <li class="nav-item active"  sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/voti/list}">
                    <i class="fa fa-tasks"></i>
                    Scrutinio
                    </a>
                </li>
            <li class="nav-item active"  sec:authorize="hasRole('USER')">
                <a class="nav-link" th:href="@{/voti/list}">
                    <i class="fa fa-tasks"></i>
                    Scrutinio
                </a>
            </li>
            <li class="nav-item active"  sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/coalizioni/list}">
                    <i class="fa fa-tasks"></i>
                    Scrutinio Coalizioni
                </a>
            </li>
            <li class="nav-item active"  sec:authorize="hasRole('USER')">
                <a class="nav-link" th:href="@{/coalizioni/list}">
                    <i class="fa fa-tasks"></i>
                    Scrutinio Coalizioni
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/interrogazioni/list}">
                    <i class="fa fa-history"></i>
                    Interrogazioni
                </a>
            </li>
            <li class="nav-item active"  sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/ricalcoli/list}">
                    <i class="fa fa-calculator"></i>
                    Ricalcoli
                </a>
            </li>
            <li class="nav-item active"  sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/controlli/list}">
                    <i class="fa fa-receipt"></i>
                    Controlli
                </a>
            </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/amministrazione/list}">
                    <i class="fa fa-clone"></i>
                 Amministrazione
                    </a>
                </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/manuali/docs}">
                <i class="fa fa-university"></i>
                Manuali utente
                </a>
            </li>
        </ul>
    </div>
</nav>
</div>
</html>
