<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <div th:replace="fragments/head :: header-css-js"/>
    <link th:href="@{~/css/ricalcoli/list.css}" type="text/css" rel="stylesheet" />
    <script th:src="@{~/js/ricalcoli/list.js}" type="text/javascript">
    </script>
</head>
<body>
<div th:replace="fragments/menu :: menu"/>
<div id="accordian">
    <ul>
        <li>
            <h3><a href="#">
                <i class="fas fa-percentage"></i>Ricalcoli</a></h3>
            <ul>
                <li><a th:if="${#lists.contains(fasi, 'RIC')}" href="/ricalcoli/costituzione">
                    <i class="fas fa-check-double"></i>Costituzione-Apertura</a>
                </li>
                <li><a th:if="${#lists.contains(fasi, 'RIC')}" href="/ricalcoli/affluenza">
                    <i class="fas fa-check-double"></i>Affluenza</a>
                </li>
                <li>
                    <a th:if="${#lists.contains(fasi, 'RIL')}" href="/ricalcoli/voti">
                        <i class="fas fa-calculator"></i>Voti Lista</a></li>
                <li>
                    <a th:if="${#lists.contains(fasi, 'RIP')}" href="/ricalcoli/voti">
                        <i class="fas fa-divide"></i>Preferenze</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
