<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <div th:replace="fragments/head :: header-css-js"/>
    <link th:href="@{~/css/users/panel.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/menu :: menu"/>
<section id="our-process" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="heading-title text-center wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="darkcolor bottom20 text-capitalize" th:text="'Benvenuto ' + ${user}"></h2>
                    <div  class="bottom0">
                        <div sec:authentication="principal.authorities"></div>
                    </div>
                    <div  sec:authorize="hasRole('ADMIN')" class="bottom0">
                        di seguito un riepilogo delle funzioni accessibili dall'applicazione per il ruolo di Amministratore
                    </div>
                    <div  sec:authorize="hasRole('USER')" class="bottom0">
                        di seguito un riepilogo delle funzioni accessibili dall'applicazione per il ruolo di Utente
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="process-wrapp">
                <li class="wow fadeIn" data-wow-delay="300ms">
                            <span class="pro-step gradient_bg_two bottom20">
                              <i class="fas fa-users" style="vertical-align: bottom"></i>
                            </span>
                    <h4 class="font-light darkcolor bottom25">Utenti</h4>
                    <p class="bottom0"><a th:href="@{/users/manage}"> gestire gli utenti</a></p>
                </li>
                <li class="wow fadeIn" data-wow-delay="350ms">
                    <span class="pro-step gradient_bg_three bottom20"><i class="fas fa-address-book"></i></span>
                    <h4 class="font-light darkcolor bottom25">Affluene</h4>
                    <p class="bottom0"><a th:href="@{/affluenze/list}"> gestire le affluenze</a></p>
                </li>
                <li class="wow fadeIn" data-wow-delay="400ms">
                    <span class="pro-step gradient_bg_one bottom20"><i class="fas fa-table"></i></span>
                    <h4 class="font-light darkcolor bottom25">Voti</h4>
                    <p class="bottom0"><a th:href="@{/affluenze/list}">gestire i voti</a></p>
                </li>
                <li class="wow fadeIn" data-wow-delay="450ms">
                    <span class="pro-step gradient_bg_four bottom20"><i class="fas fa-file-signature"></i></span>
                    <h4 class="font-light darkcolor bottom25">Ricalcoli</h4>
                    <p class="bottom0"><a th:href="@{/ricalcoli/list}">gestire i ricalcoli</a></p>
                </li>
                <li class="wow fadeIn" data-wow-delay="500ms">
                    <span class="pro-step gradient_bg_five bottom20"><i class="fas fa-text-width"></i></span>
                    <h4 class="font-light darkcolor bottom25">Documenti</h4>
                    <p class="bottom0"><a th:href="@{/interrogazioni/list}">Interrgoazioni</a></p>
                </li>
            </ul>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>

