<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scrutinio">
<head>
    <script th:src="@{~/js/voti/scrutinio.js}" type="text/javascript">
    </script>
</head>
    <body>
    <div class="card" style="border:none">
        <div class="card-body">
            <h5 class="card-title" th:text="${titlepage}">
            </h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-sm">
                            <fieldset>
                                <div th:if="${not #lists.isEmpty(Liste.liste)}">
                                    <form class="form-horizontal" th:object="${Liste}" name="insertScrutinio"
                                          data-parsley-validate action="/voti/lreg" method="post">
                                    <div th:each="lista,iterStat:${Liste.liste}" class="form-group row">
                                        <input name="numerosezione" type="hidden"
                                               th:value="${lista.numerosezione}"
                                               id="numerosezioneinput"/>
                                        <input name="id" type="hidden"
                                               th:value="${lista.id}"
                                               th:id="'id' + ${lista.id}"
                                               />
                                        <input name="idlista" type="hidden"
                                               th:value="${lista.idlista}"
                                               th:id="'idlista' + ${lista.idlista}"
                                            />
                                        <label for="staticVotiLista" class="col-sm-2 col-form-label"  th:text="${lista.denominazione}"></label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="staticVotiLista"
                                                   name="voti"
                                                   th:value="${lista.voti}">
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div th:if="${#lists.isEmpty(Liste.liste)}">
                                    <form class="form-horizontal" modelAttribute="ListeVuote" name="insertScrutinio"
                                          data-parsley-validate action="/voti/lreg" method="post">
                                    <div th:each="lista,itemStat:${ListeVuote.liste}" class="form-group row">
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input name="liste.numerosezione" type="number"
                                                       th:value="${lista.getNumerosezione()}"
                                                       style="display:none;"
                                                       data-parsley-required
                                                       required
                                                       id="numerosezione"/>
                                                <input name="liste.tipo" type="text"
                                                       data-parsley-required
                                                       required
                                                       th:value="${lista.getTipo()}"
                                                       style="display:none;"
                                                       id="tipo"/>
                                                <input name="liste.idlista" type="number"
                                                       id="idlista"
                                                       required
                                                       data-parsley-required
                                                       style="display:none;"
                                                       th:value="${lista.getIdlista()}"
                                                     />
                                                <label class="col-sm-3  col-form-label"
                                                       th:text="${lista.denominazione}"></label>
                                                <input name="liste.voti"
                                                       class="form-control voti"
                                                       id="voti"
                                                       placeholder="Voti lista"
                                                       type="number"
                                                       min="0"
                                                       value="0"
                                                       data-parsley-required
                                                       data-parsley-type="number"
                                                       data-validation="required"
                                                       />
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="form-group">
                                <div class="col-sm-10">
                                    <div id="errorcontrol" style="display: none" class="errorBlock"></div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <button id="btnSalvaScrutinio" data-parsley-validate
                                                class="btn btn-dark btn-sm float-right submit_btn">
                                            <i class="fas fa-arrow-alt-circle-right" style="margin-right:5px"></i>Salva
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</div>
</html>
