.badge-custom {
    font-weight: bolder;
    line-height: 2;
}

div#labelVotanti {
    vertical-align: top;
    height: 38px;
    color:  #54272F;
    font-weight: bolder;
    padding: .50rem 1.20rem;
}

.modal-lg {
    max-width: 1000px;
}